{% extends "index.html" %}
{% load static %}
{% block title %} Add | Student {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'CSS\query.css' %}">
<style>
    form{
        font-family: "euclid_circular_a","Arial","Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
</style>
{% endblock css %}
<!------------------------------------- Contant Start ----------------------------------->
{% block body %}

<!-- Add Student -->
    <div class="d-flex justify-content-center">
        <div class="col-md-9" style="background-color: #f5f1f1; padding: 20px 30px; border-radius: 10px;">
            <h3 class="text-center fw-bold mb-3">Add New Student</h1>
            {% include 'message.html' %}
            <form method="POST">
                {% csrf_token %}

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="form1Example1" class="form-control" placeholder="Enter Name" name="s_name"/>
                    </div>
                </div>

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student Gender</label>
                    <div class="col-sm-6">
                        <select class="form-select" aria-label="Default select example" name="s_gender">
                            <option selected Disabled  >Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                          </select>
                    </div>
                </div>

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student Class</label>
                    <div class="col-sm-6">
                        <select class="form-select" aria-label="Default select example" name="s_class">
                            <option selected Disabled  >Select Class</option>
                            <option value="vi">vi</option>
                            <option value="vii">vii</option>
                            <option value="viii">viii</option>
                            <option value="ix">ix</option>
                            <option value="x">x</option>
                          </select>
                    </div>
                </div>

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student Roll</label>
                    <div class="col-sm-6">
                        <input type="number" id="form1Example1" class="form-control" placeholder="Enter Roll" name="s_roll"/>
                    </div>
                </div>

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student Age</label>
                    <div class="col-sm-6">
                        <input type="number" id="form1Example1" class="form-control" placeholder="Enter Age" name="s_age"/>
                    </div>
                </div>

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student City</label>
                    <div class="col-sm-6">
                        <input type="text" id="form1Example1" class="form-control" placeholder="Enter City" name="s_city"/>
                    </div>
                </div>

                <div class="form-outline mb-4 d-flex">
                    <label class="form-label col-sm-3 col-form-label" for="form1Example1">Student Date of birth</label>
                    <div class="col-sm-6">
                        <input type="date" id="form1Example1" class="form-control" name="s_birth"/>
                    </div>
                </div>

                
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block col-sm-5" name="add_std">Add Student</button>
                </div>
              </form>
        </div>
    </div>

    



{% endblock body %}
<!-------------------------------------- Contant End ------------------------------------>



{% block js %}



{% endblock js %}